table.has-columns-hidden>tbody>tr>td>span.responsiveExpander {
    background: url(/packages/perfectsofttunisia_reactive-responsive-datatables/plus.png) no-repeat 5px center;
    padding-left: 32px;
    cursor: pointer
}

table.has-columns-hidden>tbody>tr.detail-show>td span.responsiveExpander {
    background: url(/packages/perfectsofttunisia_reactive-responsive-datatables/minus.png) no-repeat 5px center
}